

        h1{
            color: brown;
            background-color: antiquewhite;
        }

        h2{
            color:pink;
            background-color: powderblue;
        }

        ul{
            color: peru;
            background-color: brown;
        }

        .first{
            background-color: aqua;
        }

        .second{
            background-color: brown;
        }

        #third{
            background-color: pink;
        }